<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSString</key>
	<dict>
		<key>Modification</key>
		<string>nonatomic,copy</string>
		<key>Pointer</key>
		<true/>
	</dict>
	<key>NSNumber</key>
	<dict>
		<key>Modification</key>
		<string>nonatomic,strong</string>
		<key>Pointer</key>
		<true/>
	</dict>
	<key>NSArray</key>
	<dict>
		<key>Modification</key>
		<string>nonatomic,strong</string>
		<key>Pointer</key>
		<true/>
	</dict>
	<key>NSDictionary</key>
	<dict>
		<key>Modification</key>
		<string>nonatomic,strong</string>
		<key>Pointer</key>
		<true/>
	</dict>
	<key>float</key>
	<dict>
		<key>Modification</key>
		<string>nonatomic,assign</string>
		<key>Pointer</key>
		<false/>
	</dict>
	<key>double</key>
	<dict>
		<key>Modification</key>
		<string>nonatomic,assign</string>
		<key>Pointer</key>
		<false/>
	</dict>
	<key>int</key>
	<dict>
		<key>Modification</key>
		<string>nonatomic,assign</string>
		<key>Pointer</key>
		<false/>
	</dict>
	<key>long</key>
	<dict>
		<key>Modification</key>
		<string>nonatomic,assign</string>
		<key>Pointer</key>
		<false/>
	</dict>
	<key>NSInteger</key>
	<dict>
		<key>Modification</key>
		<string>nonatomic,assign</string>
		<key>Pointer</key>
		<false/>
	</dict>
	<key>CGFloat</key>
	<dict>
		<key>Modification</key>
		<string>nonatomic,assign</string>
		<key>Pointer</key>
		<false/>
	</dict>
	<key>Othe</key>
	<dict>
		<key>Modification</key>
		<string>nonatomic,strong	</string>
		<key>Pointer</key>
		<true/>
	</dict>
</dict>
</plist>
